In [10]:
import pandas as pd
from io import StringIO

In [11]:
TESTDATA = StringIO("""Object,X,Y,Cluster
1, 3, 18, 0
2, 15, 18, 1
3, 15, 5, 2
4, 11, 8, 1
5, 5, 12, 2
6, 8, 7, 0
7, 12, 20, 2
8, 20, 1, 1
9, 9, 9, 0
10, 8, 19, 0
11, 13, 7, 0
12, 11, 16, 0
13, 15, 19, 2
14, 20, 7, 2
15, 16, 12, 1
    """)

df = pd.read_csv(TESTDATA, index_col = 'Object')
df

         X   Y  Cluster
Object
1        3  18        0
2       15  18        1
3       15   5        2
4       11   8        1
5        5  12        2
6        8   7        0
7       12  20        2
8       20   1        1
9        9   9        0
10       8  19        0
11      13   7        0
12      11  16        0
13      15  19        2
14      20   7        2
15      16  12        1

In [12]:
import numpy as np
X = pd.DataFrame(df.drop(['Cluster'], axis=1))
centroid = np.array([[8.67, 12.67], [15.5, 9.75], [13.4, 12.6]])

In [13]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3, init=centroid)
model = kmeans.fit(X)
model.labels_

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:1307: RuntimeWarning: Explicit initial center position passed: performing only one init in KMeans instead of n_init=10.
  super()._check_params(X)

array([0, 2, 1, 1, 0, 0, 2, 1, 0, 2, 1, 2, 2, 1, 1], dtype=int32)

In [14]:
alldistances = model.transform(X)
alldistances

array([[ 7.26722093, 17.12129928,  9.20869155],
       [10.90011468, 11.36392929,  2.82842712],
       [10.90011468,  1.86338998, 13.68941197],
       [ 5.90021186,  5.01386965, 10.46900186],
       [ 1.3462912 , 12.07499712,  9.63327566],
       [ 4.82830198,  7.84042232, 12.14907404],
       [10.26218788, 13.87343585,  1.61245155],
       [17.30065028,  7.03364928, 19.0682983 ],
       [ 3.71651719,  7.22072634,  9.92975327],
       [ 7.7014609 , 14.61068863,  4.24264069],
       [ 8.11249037,  2.85287379, 11.4280357 ],
       [ 6.54312616, 10.51057668,  2.68328157],
       [11.52443057, 12.36145443,  2.86356421],
       [14.4676363 ,  4.17997873, 13.81303732],
       [ 9.76281209,  5.33593686,  7.44311763]])

In [15]:
print('Координаты центроидов: ', model.cluster_centers_)
print('Затрачено итераций: ', model.n_iter_)

Координаты центроидов:  [[ 6.25       11.5       ]
 [15.83333333  6.66666667]
 [12.2        18.4       ]]
Затрачено итераций:  4

In [16]:
# Добавим номера назначенных кластеров
df['Assigned'] = model.labels_
# Добавим расстояние до центроида кластера 0
df['Dist_0'] = alldistances[:,0]
df

         X   Y  Cluster  Assigned     Dist_0
Object
1        3  18        0         0   7.267221
2       15  18        1         2  10.900115
3       15   5        2         1  10.900115
4       11   8        1         1   5.900212
5        5  12        2         0   1.346291
6        8   7        0         0   4.828302
7       12  20        2         2  10.262188
8       20   1        1         1  17.300650
9        9   9        0         0   3.716517
10       8  19        0         2   7.701461
11      13   7        0         1   8.112490
12      11  16        0         2   6.543126
13      15  19        2         2  11.524431
14      20   7        2         1  14.467636
15      16  12        1         1   9.762812

In [17]:
df_0 = df[df['Assigned'] == 0]
df_0

        X   Y  Cluster  Assigned    Dist_0
Object
1       3  18        0         0  7.267221
5       5  12        2         0  1.346291
6       8   7        0         0  4.828302
9       9   9        0         0  3.716517

In [18]:
df_0.Dist_0.mean()

4.28958282361114